*{
    margin: 0%;
    padding: 0;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .main{
        flex-direction: column;
    }}
img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 100px 50px;
}
.text{
    text-align: center;
}
.para{
    width: 450px;
}
.t1{
    margin-top: 10px;
}
.t2{
    margin-top: 5px;
}
.btn{
    padding: 10px 5px 10px 5px;
    border-radius: 50px;
    border-color: rgb(241, 53, 6);
    margin-top: 15px;
}
.btn:hover{
    background-color: #000;
    color: white;
}
.p{
    display: flex;
    margin-left: 160px;
    margin-top: 10px;
}
a{
    color: #000;
    margin-left: 5px;
}